<nav class="navbar fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <!--etiqueta donde muestra la imagen  o logo y dando un click dirije al inicio de la pagina-->
            <a class="card-header card-header-image" (click)="inicio()" style="border-bottom: none;height: 73px;padding-top: 0px;">
                <img src="assets/imageLogo/wigilabs-sas-76453739C0317BEDthumbnail.gif" height="80px" alt="Crud">
            </a>
            <button class="navbar-toggler" style="color: black;" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <br><br>
                <li class="dropdown nav-item">

                    <a style="padding-bottom: 0%; margin-bottom: 0%;" class="cursormanito nav-link" data-toggle="dropdown">
                        <div style="margin: inherit;" class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-circle img-raised">

                            </div>
                            <div>
                                <h5></h5>
                            </div>
                        </div>

                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a class="dropdown-item cursormanito">
                            <i class="material-icons">people</i>
                        </a>
                        <a class="dropdown-item cursormanito">
                            <i class="material-icons">call</i>
                        </a>
                        <li class="button-container nav-item iframe-extern">
                            <a data-toggle="modal" data-target="#smallTelefonoModal" style="color: white;" class="btn  btn-rose btn-round btn-instagram">
                        Editar informacion
                    </a>
                        </li>
                    </div>

                </li>
                <!--seccion donde esta las opciones del head estas como son llamadas directamente en el html del componente principal o header apareceran en todo componentes
                que despliegue desde alli -->
                <li class="dropdown nav-item">

                    <a style="margin-left: 0px;" class="dropdown-toggle nav-link cursormanito" data-toggle="dropdown">
                        <i class="material-icons">pending_actions</i>tareas
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <div>

                            <a style="margin-left: 10px; margin-right: 2px;" class="dropdown-item cursormanito" (click)="tarea()">
                                <i style="margin-right: 2px;" class="material-icons">add_task</i>Agregar
                            </a>

                            <a style="margin-left: 10px; margin-right: 2px;" class="dropdown-item cursormanito" (click)="listarTareas()">
                                <i style="margin-right: 2px;" class="material-icons">list</i>Listar
                            </a>
                        </div>

                    </div>
                </li>
                <li class="dropdown nav-item">

                    <a style="margin-left: 0px;" class="dropdown-toggle nav-link cursormanito" data-toggle="dropdown">
                        <i class="material-icons">headset_mic</i>Ayuda en linea
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <div (click)="galeria()">
                            <a style="margin-left: 10px; margin-right: 2px;" class="dropdown-item cursormanito">
                                <i style="margin-right: 2px;" class="material-icons">burst_mode</i>Galeria de fotos
                            </a>
                        </div>
                        <div (click)="contacto(contactoModal)">

                            <a style="margin-left: 10px; margin-right: 2px;" class="dropdown-item cursormanito">
                                <i style="margin-right: 2px;" class="material-icons">connect_without_contact</i>Contacto
                            </a>
                        </div>
                    </div>




                </li>



                <li class="dropdown nav-item">
                    <a class="dropdown-toggle nav-link cursormanito" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Nuestro servicios y ayuda
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a class="dropdown-item cursormanito">
                            <i class="material-icons">line_style</i> Politica de privacidad
                        </a>
                        <a class="dropdown-item cursormanito">
                            <i class="material-icons ">layers</i>Nuestra app
                        </a>
                        <a class="dropdown-item cursormanito">
                            <i class="material-icons ">content_paste</i> Terminos y condiciones
                        </a>
                    </div>
                </li>



                <ng-template #elseBlock>
                    <li class="button-container nav-item iframe-extern">
                        <a style="margin-top: 2vh; color: white;" class="btn  btn-rose btn-round btn-danger">
                Cerrar Sesion
            </a>
                    </li>
                </ng-template>



            </ul>
        </div>
    </div>
</nav>
<!--modal que se muestra cuando se le da click a contacto gracias a la etiqueta template-->
<ng-template #contactoModal>
    <!--componente de contacto que se muestra dentro del modal es posible mostrar componentes hijos llamado directamente con el selector en este caso
    "app-contact" el cual hace parte del componente contacto -->
    <app-contact></app-contact>
</ng-template>