
<!--componente html que se encarga de editar las tareas ya agregadas-->
<div class="login-page sidebar-collapse">
    <div class="page-header header-filter" style="background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                    <div class="pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Editar tarea</h1>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pricing-header form-block mx-auto">
                                <!--en este caso usan un  formGroup para validar y guardar variables insertados en las etiquetas input-->
                                <form [formGroup]="tareaForm" (ngSubmit)="updateForm()" novalidate>
                                    <div class="row">
                                        <div class="col-lg-5 col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <label>nombre tarea</label>
                                                    <input type="text" formControlName="nombreTarea" class="form-control" required>

                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label>Descripcion</label>
                                                    <input type="text" formControlName="descripcion" class="form-control">
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <label>Coordenadas</label>
                                                    <br>
                                                    <button type="button" class="btn btn-dark gap-right" (click)="mapModal(modalMap)">Editar coordenada</button>
                                                    <label> Lat= {{coordenadas.lat}}, Long= {{coordenadas.long}}</label>
                                                </div>

                                                <pre id="coordinates" class="coordinates"></pre>
                                            </div>

                                        </div>
                                        <div class="form-group text-right">
                                            <!--boton de tipo submit para confirmar el formulario validado-->
                                            <button type="submit" class="btn btn-success btn-block" [disabled]="!tareaForm.valid">guardar</button>
                                        </div>
                                    </div>

                                </form>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalMap>

    <button type="submit" class="btn btn-success" (click)="guardarCoordenada()">Guardar Posicion</button>

    <div id="map">

    </div>
    <pre id="coordinates" class="coordinates"></pre>

</ng-template>