<div class="login-page sidebar-collapse">
    <div class="page-header header-filter" style="background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                    <div class="pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Agregar tarea</h1>

                    </div>


                    <form [formGroup]="tareaForm" (ngSubmit)="submitTareaData()" novalidate>
                        <div class="row">
                            <div class="pt-3 pb-2 mb-3 border-bottom">
                                <div class="row">

                                    <div class="col-md-12 mb-3">
                                        <label>nombre tarea</label> <strong></strong>
                                        <input type="text" formControlName="nombreTarea" class="form-control" required>

                                        <p *ngIf="nombreTarea.touched && nombreTarea.invalid" class="error"><sup>*</sup>Nombre no valido</p>
                                        <p *ngIf="descripcion.errors?.minlength" class="error"><sup>*</sup>nombre debe tener mas de dos letras</p>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label>Descripcion</label>
                                        <input type="text" formControlName="descripcion" class="form-control" required>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label>Coordenadas</label>
                                        <br>
                                        <button type="button" class="btn btn-dark gap-right" (click)="mapModal(modalMap)">Agregar coordenada</button>
                                        <label> Lat= {{coordenadas.lat}}, Long= {{coordenadas.long}}</label>
                                    </div>

                                    <pre id="coordinates" class="coordinates"></pre>
                                </div>

                                <div class="form-group text-right">
                                    <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
                                    <button type="submit" class="btn btn-success" [disabled]="!tareaForm.valid">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<router-outlet></router-outlet>
<hr>

<ng-template #modalMap>

    <button type="submit" class="btn btn-success" (click)="guardarCoordenada()">Guardar Posicion</button>

    <div id="map">

    </div>
    <pre id="coordinates" class="coordinates"></pre>

</ng-template>